<header class="fixed top-0 left-0 w-full h-[72px] bg-red-600 text-white py-0.5 px-10 flex justify-between items-center">
    <div class="logo font-bold text-xl h-10 flex justify-start items-center cursor-pointer">
        <app-logo-white logoWidth="180"/>
    </div>
    <div class="search-box bg-slate-200 font-sans text-sm text-slate-500 w-[711px] h-11 rounded flex justify-start items-center">
        <div class="search-box-text flex content-center items-center">
            <input class="w-[680px] h-11 text-sm pl-8 outline-none bg-transparent z-[3]" type="text" id="search-box-text" placeholder="Digite aqui sua busca">
            <app-search-logo/>
        </div>
    </div>
    <div class="icons-box flex w-1/6 justify-around items-center cursor-pointer">
        <app-bell-icon/>
        <app-user-icon/>
    </div>
</header>
