<div class="card-container shadow-box text-white font-sans text-2xl rounded-xl bg-red-600 h-[220px] w-[400px] flex flex-col content-around py-2 px-7">
    <div class="card-logo flex justify-end items-center mr-7 h-1/4">
        <app-logo-white logoWidth="120"/>
    </div>

    <div class="card-midle h-[60px] flex justify-start items-center">
        <img src="../../../assets/chip.png" width="60px" alt="" srcset="">
        <div class="dados flex justify-around items-start w-full">
            <p>XXXX</p>
            <p>XXXX</p>
            <p>XXXX</p>
            <p>1245</p>
        </div>
    </div>
    
    <div class="card-footer text-xl flex justify-around h-1/3">
        <p>Olá, Nome</p>
        <p>Ag 0000</p>
        <p>CC 11111</p>
    </div>
    <div class="card-limit flex justify-end">
		<p>Limit: 1000</p>
	</div>
</div>
